#_chat_folderz_signUP_btn {
  position: absolute;
  top: .6rem;
  right: 10.6rem;
  color: #212121;
  background-color: #ff724f;
  z-index: 1000;
  font-size: 1rem;
  font-weight: 500;
  padding: .5rem .8rem;
  cursor: pointer;
  border-radius: 1.2rem;
}

/* Initial hidden state */
._account_sidebar {
  position: fixed;
  top: 5rem;
  right: -500px;
  width: 500px;
  border-radius: 1rem;
  height: 80vh;
  background-color: #efeef0;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease;
  z-index: 1000; 
  padding: 2rem 1rem;
}

/* Visible state */
._visible_side {
  right: 1rem;
}

/* Additional styling for sidebar content */
._sidebar_title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
  color: #212121;
}

._sidebar_text {
  margin: .65rem 0;
  font-size: 1rem;
  color: #606060;
}

._sidebar_header_text_span {
  display: block;
  padding: 20px;
}

._login_div {
  margin: 2rem 1rem;
}

._login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: .6rem;
  margin: 1rem 0;
  padding: .5rem .8rem;
  width: 60%;
  border: 1px solid #212121;
}

._google_login_icon {
  width: 2.6rem;
  height: 2.6rem;
}

._login_with_google_btn {
  color: #212121;
  font-size: 1rem;
  font-weight: 600;
  border: transparent;
}

._sidebar_close_icon {
   width: 2rem;
  position: absolute;
  top: .5rem;
  right: .8rem;
  cursor: pointer;
}

._login_text {
  color: #ff724f;
  font-size: 1.2rem;
}